@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.menu-text {
  margin-left: 350px;
}

.button:hover {
  background-color: aqua;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:active {
  font-size: 1.5rem;
}

a{
  color: black
}

a:focus {
  color: red;
}

.top-bar, .top-bar ul{
  background-color: royalblue;
  color: black
}

.menu {
  background-color: royalblue
  ;
}

.about-us-body {
  font-size: 1.5rem;
}